<section class="bg-black mt-10 w-full">
  <div class="flex flex-col lg:flex-row  w-10/12 py-10 border border-b-gray-500 mx-auto">
    <div class="flex flex-col flex-1">
      <ul class="text-white text-sm">
        <li class="flex gap-2 p-4">
          <div class="w-36 h-12 ml-[-10px]">
            <img
              src="/assets/logo_black.png"
              class="w-full h-full object-contain"
              alt=""
            />
          </div>
        </li>
        <li class="flex gap-2 p-2">
          <lucide-angular
            [img]="Phone"
            [size]="22"
            class="my-icon"
          ></lucide-angular>
          (704) 555-0127
        </li>
        <li class="flex gap-2 p-2">
          <lucide-angular
            [img]="Message"
            [size]="22"
            class="my-icon"
          ></lucide-angular>
          krist&#64;example.com
        </li>
        <li class="flex gap-2 p-2 max-w-72">
          <lucide-angular
            [img]="Map"
            [size]="22"
            class="my-icon"
          ></lucide-angular>
          3891 Ranchview Dr. Richardson, California 62639
        </li>
      </ul>
    </div>
    <div class="flex flex-col flex-1">
      <ul class="text-white text-sm">
        <li class="p-2 font-bold">Information</li>
        <li class="p-2">My Account</li>
        <li class="p-2">Login</li>
        <li class="p-2">My Cart</li>
        <li class="p-2">My Wishlist</li>
        <li class="p-2">Checkout</li>
      </ul>
    </div>
    <div class="flex flex-col flex-1">
      <ul class="text-white text-sm">
        <li class="p-2 font-bold">Service</li>
        <li class="p-2">About Us</li>
        <li class="p-2">Careers</li>
        <li class="p-2">Delivery Information</li>
        <li class="p-2">Privacy Policy</li>
        <li class="p-2">Terms & Conditions</li>
      </ul>
    </div>
    <div class="flex flex-col flex-1">
      <ul class="text-white text-sm">
        <li class="p-2 font-bold">Subscribe</li>
        <li class="p-2">
          Enter your email below to be the first to know about new collections
          and product launches
        </li>
        <li class="p-2">
          <div
            class="flex items-center border border-white rounded-lg px-4 py-2 bg-black text-white space-x-2"
          >
            <lucide-angular
              [img]="Message"
              [size]="22"
              class="my-icon"
            ></lucide-angular>

            <input
              type="email"
              placeholder="Your Email"
              class="bg-transparent outline-none flex-grow placeholder-white"
            />

            <lucide-angular
              [img]="Right"
              [size]="22"
              class="my-icon"
            ></lucide-angular>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-4 justify-between w-10/12 py-5 text-white mx-auto">
    <div class="flex items-center gap-3">
      <div class="w-10 h-10">
        <img
          src="/assets/visa.png"
          class="w-full h-full object-contain"
          alt=""
        />
      </div>
      <div class="w-10 h-10">
        <img
          src="/assets/mastercard.png"
          class="w-full h-full object-contain"
          alt=""
        />
      </div>
      <div class="w-10 h-10">
        <img
          src="/assets/gpay.png"
          class="w-full h-full object-contain"
          alt=""
        />
      </div>
      <div class="w-10 h-10">
        <img
          src="/assets/amex.png"
          class="w-full h-full object-contain"
          alt=""
        />
      </div>
      <div class="w-10 h-10">
        <img
          src="/assets/paypal.png"
          class="w-full h-full object-contain"
          alt=""
        />
      </div>
    </div>
    <div class="flex items-center">©2023 Krist All rights reserved</div>
    <div class="text-white items-center flex gap-3">
      <div class="hover:bg-white rounded-md p-1 hover:text-black">
        <lucide-angular
          [img]="Facebook"
          [size]="22"
          class="my-icon"
        ></lucide-angular>
      </div>
      <div class="hover:bg-white rounded-md p-1 hover:text-black">
        <lucide-angular
          [img]="Instagram"
          [size]="22"
          class="my-icon"
        ></lucide-angular>
      </div>
      <div class="hover:bg-white rounded-md p-1 hover:text-black">
        <lucide-angular
          [img]="Twitter"
          [size]="22"
          class="my-icon"
        ></lucide-angular>
      </div>
    </div>
  </div>
</section>
