<section class="flex lg:flex-row flex-col items-center justify-between px-20">
  <div class="flex items-center p-5">
    <div class="w-36 h-12">
      <img
        src="/assets/logo_white.png"
        class="w-full h-full object-contain"
        alt=""
      />
    </div>
  </div>
  <div class="flex items-center p-5">
    <ul class="flex gap-5 whitespace-nowrap cursor-pointer">
      <li class="hover:underline">Home</li>
      <li>
        <select name="dropdown" id="dropdown">
          <option value="shop">Shop</option>
          <option value="shop">Shop</option>
          <option value="shop">Shop</option>
        </select>
      </li>
      <li class="hover:underline">Our Story</li>
      <li class="hover:underline">Blog</li>
      <li class="hover:underline">Contact Us</li>
    </ul>
  </div>
  <div class="flex items-center gap-5 p-5">
    <button
      class="hover:bg-black hover:text-white p-2 rounded-full cursor-pointer"
    >
      <lucide-angular
        [img]="Search"
        [size]="20"
        class="my-icon"
      ></lucide-angular>
    </button>
    <button
      class="hover:bg-black hover:text-white p-2 rounded-full cursor-pointer"
    >
      <lucide-angular
        [img]="Heart"
        [size]="20"
        class="my-icon"
      ></lucide-angular>
    </button>
    <button
      class="hover:bg-black hover:text-white p-2 rounded-full cursor-pointer"
    >
      <lucide-angular
        [img]="ShoppingBag"
        [size]="20"
        class="my-icon"
      ></lucide-angular>
    </button>
    <button
      class="bg-black hover:bg-white border-2 hover:text-black border-black px-4 py-1.5 text-white rounded-lg"
    >
      Login
    </button>
  </div>
</section>
